body {background-image: url('/static/bg.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #147CCEFF;
    margin: 10%;
}

.navbar {
  overflow: hidden;
  background-color: white;
}

.navbar .search{float: right;
              font-size: 20px;
              color: darkblue;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;}


.navbar .sort{float: center;
              font-size: 20px;
              color: darkblue;
              text-align: right;
              padding: 14px 16px;
              text-decoration: none;}

.navbar a {
  float: left;
  font-size: 20px;
  color: darkblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

h1 {color: #ffffff;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    }

h2 {color: #ffffff;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;}

h3 {color: #ffffff;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;}

h4{color:#ffffff;
font-size: 23px;
font-family: Arial, Helvetica, sans-serif;}

p { color: darkblue;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;}

button {color: black;
        font-family: Arial, Helvetica, sans-serif;
        background-color: darkgray;
        border-color: #dbcece;
        border-width: 5px;
        }

table {width:100%}

tr {width:100%;
    background-color: lightgray;
    border: 2px solid black;}

textarea{font-family: Arial, Helvetica, sans-serif;
text-align: center;}

form {color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;}

label {color:white;}

.tab { margin-left: 80px; }
