{% extends 'base.html' %}
{% block title %}
    Comments
{% endblock %}

{% block content %}

    <h1>Add a new comment</h1>
    <form action="/question/{{question_id}}/new-comment" method="POST" enctype="multipart/form-data">
        <label for="new-comment" >Enter your comment here:</label><br>
        <textarea name="new-comment" id="new-comment" rows="4" cols="50" placeholder="Your comment goes here..." required></textarea><br><br>

        <button type="submit">Post your comment</button><br><br>

        <a href="/list" onclick="return confirm('Are you sure?')">
        <button style="text-align: center">Return to main page</button></a>
    </form>
{% endblock %}
