{% extends 'base.html' %}
{% block title %}
    Comment Section
{% endblock %}

{% block content %}

    <h1>Add a new comment</h1>
    {%if answer_id%}
    <form action="/answer/{{answer_id}}/new-comment" method="POST">
        <label for="new-comment2" >Enter your comment here:</label><br>
        <textarea name="new-comment2" id="new-comment2" rows="4" cols="50" placeholder="Your comment goes here..." required></textarea><br><br>

        <button type="submit">Post your comment</button><br><br>

    </form>
        {% include 'footer.html' %}
    {%else%}
   <form action="/question/{{question_id}}/new-comment" method="POST">
        <label for="new-comment" >Enter your comment here:</label><br>
        <textarea name="new-comment" id="new-comment" rows="4" cols="50" placeholder="Your comment goes here..." required></textarea><br><br>

        <button type="submit">Post your comment</button><br><br>

    </form>
        {% include 'footer.html' %}
    {%endif%}


{% endblock %}

