{% extends 'base.html' %}
{% block title %}
    Post and answer
{% endblock %}

{% block content %}

    {% if answer %}
        <h1>Edit answer</h1>
    {% else %}
        <h1>Add answer</h1>
    {% endif %}
    <br>
    {% if answer %}
        <form action="/answer/{{ answer.id }}/edit" method="POST" enctype="multipart/form-data">
    {% else %}
        <form action="/question/{{ question_id }}/new_answer" method="POST" enctype="multipart/form-data">
    {% endif %}

    {% if answer %}
            <input type="hidden" name="id" value="{{ answer.id }}" >
            <input type="hidden" name="submission_time" value="{{ answer.submission_time }}" >
            <input type="hidden" name="vote_number" value="{{ answer.vote_number }}" >
            <input type="hidden" name="question_id" value="{{ answer.question_id }}" >
            <input type="hidden" name="image" value="{{ answer.image }}" >
    {% endif %}

            <label for="message">Enter your answer here:</label><br>
            <textarea name="message" rows="4" cols="50" placeholder="Your answer goes here" required>{{ answer.message if answer }}</textarea><br><br>

            <label for="image">Upload image here (optional):</label><br>
            <input type="file" id="question" name="image" accept="image/png, image/jpeg">Current image: {{ answer.image if answer }}<br><br>

            {% if answer %}
                <a href="/question/{{ question_id }}"><button type="submit">Edit answer</button></a>
            {% else %}
                <button type="submit">Done</button>
            {% endif %}
            <br><br>


        </form>
    {% include 'footer.html' %}
{% endblock %}
