{% extends "base.html" %}

{%block title%} {{ title }} {%endblock%}

{% block content%}

    <style>
        .up_arrow{transform: rotate(-90deg);}
        .down_arrow{transform: rotate(90deg);}

        p {text-align: center;}

        #buttons{text-align: center;}
    </style>

    <h2>{{ question.title }}</h2><br>
    <table>
        <tr>
            <td><p><strong>{{ question.message }}</strong></p></td>
            <td id="buttons">
                <a href="/question/{{ question.id }}/edit">
                    <button>EDIT</button></a>
                <a href="/question/{{ question.id }}/new_answer">
                    <button>POST A NEW ANSWER</button></a>
                <a href="/question/{{ question.id }}/delete" onclick="return confirm('Are you sure?')">
                    <button>DELETE</button></a>
            </td>
        </tr>
    </table><br><br><br>

    <h2>Answers</h2>
    <table>
        <tbody>
            {% for answer in answers %}
                {% if question.id == answer.question_id  %}
                <tr>
                    <td>
                        <p><a href="/answer/{{ answer.id }}/vote_up"><img class="up_arrow" src="/static/icons/arrow.png" alt="up-vote" width="40" height="40"  ></a></p>
                        <p>{{ answer.vote_number }}</p>
                        <p><a href="/answer/{{ answer.id }}/vote_down"><img class="down_arrow" src="/static/icons/arrow.png" alt="down-vote" width="40" height="40"></a></p>
                    </td>
                    <td ><p><strong>{{ answer.message }}</strong></p></td>
                    <td>
                        {% if answer.image  %}
                            <img src="/static/pictures/answer_pictures/{{ answer.image }}" width="100" alt="some picture">
                        {% endif %}
                    </td>
                    <td>
                        <p><a href="/answer/{{ answer.id }}/delete"><button>DELETE</button></a></p>

                    </td>
                </tr>
                {% endif %}

            {% endfor %}
        </tbody>

    </table><br><br>

    <p id="buttons"><a href="/list" onclick="return confirm('Are you sure?')">
    <button>Return to main page</button></a></p>

{% endblock %}
