{% extends "base.html" %}

{%block title%} {{ title }} {%endblock%}

{% block content%}

    <style>


        p {text-align: left;}

        #buttons{text-align: center;}
    </style>

    <h2>{{ question.title }}</h2><br>
    <table>
        <tr>
            <td>
                <p>
                    <strong>{{ question.message }}</strong><br><br>
                    {% for tag in tags %}
                    <div class="tags">
                    <a href="/question/{{ question.id }}/tag/{{ tag.id }}/delete" style="color: gray"><i class="fa fa-trash"></i></a> {{tag.name}}
                    </div>
                    {% endfor %}
                </p>
            </td>


            <td id="buttons">
                <a href="/question/{{ question.id }}/edit">
                    <button>EDIT</button></a>
                <a href="/question/{{ question.id }}/new_answer">
                    <button>POST A NEW ANSWER</button></a>
                <a href="/question/{{ question.id }}/delete">
                    <button>DELETE</button></a>
                <a href="/question/{{ question.id }}/new-tag">
                    <button>ADD TAG</button></a>
            </td>
        </tr>
        <div class="comments">
            <tr>
                <td>
                    {% for comment in comments %}
                    {% if comment.question_id == question.id %}

                    <p>
                        <div id="message"><a href="/comment/{{ comment.id }}/edit">{{ comment.message }}</a>
                        <div id="submission">Submitted on: {{ comment.submission_time }}</div>
                        </div>

                    </p>


                {% endif %}
                {% endfor %}
                </td>
                <td>

                </td>
            </tr>
        </div>
    </table><br><br><br>

    <h2>Answers</h2>
    <table>
        <tbody>
            {% for answer in answers %}
                {% if question.id == answer.question_id  %}
                <tr>
                    <td>
                        <p><a href="/answer/{{ answer.id }}/vote_up"><img class="up_arrow" src="/static/icons/arrow.png" alt="up-vote" width="40" height="40"  ></a></p>
                        <p>{{ answer.vote_number }}</p>
                        <p><a href="/answer/{{ answer.id }}/vote_down"><img class="down_arrow" src="/static/icons/arrow.png" alt="down-vote" width="40" height="40"></a></p>
                    </td>
                    <td ><p><strong>{{ answer.message }}</strong></p>
                    <div class="dropdown">
                    <span>Comments</span>
                    <div class="dropdown-content">
                        {%for comment in comments%}
                        {%if comment.answer_id == answer.id%}
                        <p>{{ comment.message }}<p>
                            <a href="/comment/{{ comment.id }}/delete">
                            <button style="font-size:20px">
                            <i class="fa fa-trash-o"></i>
                            </button>
                            </a>
                        {%endif%}
                        {%endfor%}
                    </div>
                </div>
                    </td>
                    <td style="text-align: center">
                        {% if answer.image  %}
                            <img src="/static/pictures/answer_pictures/{{ answer.image }}" width="200" alt="some picture">
                        {% endif %}
                    </td>
                    <td>
                        <p><a href="/answer/{{ answer.id }}/edit"><button>EDIT THIS ANSWER</button></a></p>
                        <p><a href="/answer/{{ answer.id }}/delete"><button>DELETE</button></a></p>
                        <p><a href="/answer/{{ answer.id }}/new-comment"><button>ANSWER COMMENT</button></a></p>
                    </td>
                </tr>

                {% endif %}

            {% endfor %}

        </tbody>

    </table><br><br>
    {% include 'footer.html' %}
{% endblock %}







