{% extends "base.html" %}

{%block title%} {{ title }} {%endblock%}

{% block content%}

    <table>
        <tr>
            <td>
                <p> <h4>{{ question.title }}</h4>
                    <p>{{ question.message }}</p><br><br>
                    {% for tag in tags %}
                    <div class="tags">
                    <a href="/question/{{ question.id }}/tag/{{ tag.id }}/delete" style="color: gray"><i class="fa fa-trash"></i></a> {{tag.name}}
                    </div>
                    {% endfor %}
                </p>
            </td>
            <td id="buttons">
                <a href="/question/{{ question.id }}/edit">
                    <button>EDIT</button></a>
                <a href="/question/{{ question.id }}/new_answer">
                    <button>POST A NEW ANSWER</button></a>
                <a href="/question/{{ question.id }}/delete">
                    <button>DELETE</button></a>
                <a href="/question/{{ question.id }}/new-tag">
                    <button>ADD TAG</button></a>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Comments</h3>
            </td>
        </tr>
        <div class="comments">
            <tr>
                <td>
                    {% for comment in comments %}
                    {% if comment.question_id == question.id %}

                    <p>
                        <div id="message"><h4>{{ comment.message }}</h4> </div>

                        <div id="submission"><p>Submitted on: {{ comment.submission_time }}</p></div>
                        <div id="edit_button"><a href="/comment/{{ comment.id }}/edit"><button>EDIT</button></a></div>
                    </p>
                {% endif %}
                {% endfor %}
                </td>
                <td></td>
            </tr>
        </div>
    </table>
    <br><br><br>

    <h3>Answers</h3>

    <table>
        <tbody>
            {% for answer in answers %}
                {% if question.id == answer.question_id  %}

                <tr>
                    <td>
                        <p><a href="/answer/{{ answer.id }}/vote_up"><img class="up_arrow" src="/static/icons/arrow.png" alt="up-vote" width="40" height="40" ></a></p>
                        <p id="vote_number">{{ answer.vote_number }}</p>
                        <p><a href="/answer/{{ answer.id }}/vote_down"><img class="down_arrow" src="/static/icons/arrow.png" alt="down-vote" width="40" height="40"></a></p>
                    </td>
                    <td>
                        <form action="/question/{{ question.id }}">
                            <input type="checkbox" name="accepted" id="accepted" value="True">
                            <label for="accepted">Accepted</label>
                            <input type="submit" value="Submit">
                        </form>
                        <h4>{{ answer.message }}</h4>
                    </td>
                    <td>
                        {% if answer.image  %}
                            <img src="/static/pictures/answer_pictures/{{ answer.image }}" width="200" alt="some picture">
                        {% endif %}
                    </td>
                    <td>
                        <p><a href="/answer/{{ answer.id }}/edit"><button>EDIT THIS ANSWER</button></a></p>
                        <p><a href="/answer/{{ answer.id }}/delete"><button>DELETE</button></a></p>
                        <p><a href="/answer/{{ answer.id }}/new-comment"><button>COMMENT</button></a></p>
                    </td>
                </tr>
                {% for comment in comments %}
                    {% if comment.answer_id == answer.id %}
                <tr>
                    <td>
                        <p>
                        <div id="message"><h4>{{ comment.message }}</h4> </div>

                        <div id="submission"><p>Submitted on: {{ comment.submission_time }}</p></div>
                        <div id="edit_button"><a href="/comment/{{ comment.id }}/edit"><button>EDIT</button></a></div>
                        </p>
                    </td>
                </tr>
                    {% endif %}
                {% endfor %}
                {% endif %}
            {% endfor %}

        </tbody>
    </table><br><br>
    {% include 'footer.html' %}
{% endblock %}

































