{% extends 'base.html' %}
{% block title %}
    Edit your comment
{% endblock %}

{% block content %}

    <div id="edit">

        <form action=/comment/{{ comment.id }}/edit method="post">
        <label for="message">Your comment:</label><br>
        <textarea id="message" name="message" rows="4" cols="50" required>{{ comment.message }}</textarea><br><br>
        <button class="btn btn-outline-success" type="submit">Accept</button>
            <br><br>
        </form>

    </div>
    {% include 'footer.html' %}
{% endblock %}



