{% extends 'base.html' %}
{% block title %}Index Page{% endblock %}

{% block content %}


<h1>Ásóka Helps</h1>
    <p><a href="/list">See all of the questions</a></p>
    {% for question in questions %}

        <table>
            <tr>
                <td>
                <p style="text-align: center">{{ question.vote_number }}</p>

                <td style="width: 100%">
                    <h4> {{ question.title }}</h4>
                    <p>{{ question.message }}</p>
                       <p> Views: {{ question.view_number }}</p>
                </td>
                <td style="width: 100%">
                    {% if question.image  %}
                            <img src="/static/pictures/question_pictures/{{ question.image }}" width="200" alt="some picture">
                        {% endif %}
                </td>
            </tr>
        </table>
    {% endfor %}

{% endblock %}

