{% extends "base.html" %}

{% block title %}List of Questions{% endblock %}

{% block content %}
   <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('main_page') }}"><button class="btn btn-outline-success"><i class="fa fa-home"></i></button></a>
            <a href="{{ url_for('tag_page') }}">Tags</a>
            </div>
        <ul class="nav navbar-nav align-items-center">
          <li><form class="search" action="/search" method="get">
            <input type="search" name="q">
             <button class="btn btn-outline-success" type="submit"><i class="fa fa-search"></i></button>
            </form></li>
          <li><form class="sort" action="/list" method="get">
                    <select name="order_by">
                        {% for option_index in range(header|length) %}
                            {% if header[option_index] != "Image" %}
                                {% if keys[option_index] == orderby %}
                                    <option value="{{ keys[option_index] }}" selected>{{ header[option_index] }}</option>
                                {% else %}
                                    <option value="{{ keys[option_index] }}">{{ header[option_index] }}</option>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </select>
                    <select name="order_direction">
                        {% if orderdir == "desc" %}
                            <option value="desc" selected>Descending</option>
                            <option value="asc">Ascending</option>
                        {% else %}
                            <option value="desc">Descending</option>
                            <option value="asc" selected>Ascending</option>
                        {% endif %}
                    </select>
                    <button class="btn btn-outline-success">Sort</button>
            </form></li>

        </ul>
        </div>
    </nav>


    <h1>WebDoctor</h1>
    <h3>Ask your question</h3>
    <br>


    {% if session['logged_in'] %}
    <p><a href="/add-question"><button class="btn btn-outline-dark">Add questions</button></a></p><br><br>
    {% endif %}
    {% for question in questions %}

 <div class="container-fluid">
        <table class="table table-hover text-centered">
            <tr>
                <td>
                <p><a href="/question/{{ question.id }}/vote_up"><img class="up_arrow" src="/static/icons/arrow.png" alt="up-vote" width="40" height="40"  ></a></p>
                <p id="vote_number">{{ question.vote_number }}</p>
                <p><a href="/question/{{ question.id }}/vote_down"><img class="down_arrow" src="/static/icons/arrow.png" alt="down-vote" width="40" height="40"></a></p>
                </td>

                <td class="table-width">
                    <a style="text-decoration: none" href="/question/{{ question.id }}"><h4> {{ question.title }}</h4></a>
                    <p>{{ question.message }}</p>
                    {%  if session['logged_in'] %}
                        {% if session['user_id'] == question.user_id %}
                            <a href="/question/{{ question.id }}/edit">  <!-- csak az owner látja az edit gombot -->
                                <button class="btn btn-outline-dark">EDIT</button></a>
                        {%  endif %}
                    <a href="/question/{{ question.id }}/new-comment">
                        <button class="btn btn-outline-dark">COMMENT</button></a>
                    {% endif %}

                    <p id="view_number">
                        Views: {{ question.view_number }}</p>
                </td>
                <td class="table-width">
                    {% if question.image  %}
                            <img src="/static/pictures/question_pictures/{{ question.image }}" width="200" alt="some picture">
                        {% endif %}
                </td>
            </tr>
        </table>
 </div>

    {% endfor %}
{% endblock%}
