{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
      <h1>Please login</h1>
      <br>
      <form action="" method="post">
        <input type="email" placeholder="Username" name="email" value="{{
          request.form.email }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">
    </form>
 {% if get_flashed_messages() %}
        {{ message }}
      {% endif %}
{% endblock %}

