{% extends 'base.html' %}
{% block title %}Profile page{% endblock %}

{% block content %}
        <h1>Welcome {{session['username']}}!</h1><br><br>
        <a href="{{ url_for('main_page') }}"><button><i class="fa fa-home"></i></button></a>
        <a href="{{ url_for('logout') }}">Logout</a>


        <table>
         <tr>
            <td>Username</td>
            <td>Registration date</td>
            <td>Asked questions</td>
            <td>Answers</td>
             <td>Comments</td>
             <td>Reputation</td>
        </tr>
         <tr>
             <td>{{ session['username'] }}</td>
        </tr>
        </table>


{% endblock %}

