{% extends 'base.html' %}
{% block title %}Profile page{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('main_page') }}"><button class="btn btn-outline-success"><i class="fa fa-home"></i></button></a>
            <ul class="nav navbar-nav">
                  <li><a href="{{ url_for('list_users') }}">User Details</a></li>
                  <li><a href="{{ url_for('logout') }}">Logout</a></li></ul>
            </div>
            <ul class="nav navbar-nav me-auto">
                <li>
                <form class="search" action="/search" method="get">
                <input type="search" name="q">
                 <button class="btn btn-outline-success" type="submit"><i class="fa fa-search"></i></button>
                </form></li>
            </ul>
        </div>
    </nav>

        <h1>Welcome {{session['username']}}!</h1><br><br>

        <table>
         <tr>
            <td>Username</td>
            <td>Registration date</td>
            <td>Asked questions</td>
            <td>Answers</td>
             <td>Comments</td>
             <td>Reputation</td>
        </tr>
         <tr>
             <td>{{ session['username'] }}</td>
        </tr>
        </table>


{% endblock %}

