{% extends 'base.html' %}
{% block title %}
    {% if id %}
        Edit Question
    {% else %}
        Add Question
    {% endif %}
{% endblock %}

{% block content %}
    {% if question %}
        <h1>Edit question</h1>
    {% else %}
        <h1>Add question</h1>
    {% endif %}
    <br>
    {% if question %}
        <form action="/question/{{ question.id }}/edit" method="post" enctype="multipart/form-data">
    {% else %}
        <form action="/add-question" method="post" enctype="multipart/form-data">
    {% endif %}

    {% if question %}
        <input type="hidden" name="id" value="{{ question.id }}" >
        <input type="hidden" name="submission_time" value="{{ question.submission_time }}" >
        <input type="hidden" name="view_number" value="{{ question.view_number }}" >
        <input type="hidden" name="vote_number" value="{{ question.vote_number }}" >
        <input type="hidden" name="image" value="{{ question.image }}" >
    {% endif %}

        <label for="title">Question title:</label><br>
        <textarea name="title" rows="4" cols="50">{{ question.title if question }}</textarea><br><br>

        <label for="message">Question message:</label><br>
        <textarea name="message" rows="4" cols="50">{{ question.message if question }}</textarea><br><br>

        <label for="image">Image:</label><br>
        <input type="file" id="question" name="image" accept="image/png, image/jpeg"><br><br>

    {% if question %}
        <button class="btn btn-outline-success" type="submit">Edit question</button>
    {% else %}
        <a href="/question/{{ question_id }}"><button class="btn btn-outline-success" type="submit" >Submit this question</button></a>
    {% endif %}

    </form>
{% endblock %}
