{% extends 'base.html' %}
{% block head%}{% endblock head %}
{% block content %}
    <h1>Add question</h1><br>
    <form action="/add-question" method="POST">
        <label for="title">Question title:<br></label>
        <textarea name="title" rows="4" cols="50"> </textarea><br><br>
        <label for="message">Question message:<br></label>
        <textarea name="message" rows="4" cols="50"> </textarea><br><br>
        <a href="/questions{{question_id}}"><button type="submit">Display a question</button></a>
    </form> </p>
{% endblock %}