{% extends "base.html" %}

{% block title %}Tag page{% endblock %}

{% block content %}

    <nav>
        <div class="navbar">
          <a href="{{ url_for('main_page')}}"><button><i class="fa fa-home"></i></button></a>
        <div>
         <form class="search" action="/search" method="get">
            <input type="text" name="q">
             <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        </div>
    </nav>

    <h1>Tag page</h1> <br>
        <table>
            <tr>
                <td>
                    {% for tag in tags %}
                    <i class="fa fa-trash"></i>{{ tag['tagname'] }}   {{ tag['marked_questions'] }}
                    {% endfor %}</td>
            </tr>
        </table>
{% endblock%}
