{% extends 'base.html' %}
{% block title %}Index Page{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('main_page') }}"><button class="btn btn-outline-success"><i class="fa fa-home"></i></button></a>
            <ul class="nav navbar-nav">
                  <li><a href="/user/{{ session['user_id'] }}">Profile</a></li>
                  <li><a href="{{ url_for('logout') }}">Logout</a></li></ul>
            </div>
            <ul class="nav navbar-nav me-auto">
                <li>
                <form class="search" action="/search" method="get">
                <input type="search" name="q">
                 <button class="btn btn-outline-success" type="submit"><i class="fa fa-search"></i></button>
                </form></li>
            </ul>
        </div>
    </nav>
    <h1>Welcome {{session['username']}}!</h1><br><br>

    <div class="container-fluid">
    <table class="table table-striped table-hover text-centered" >
        <thead class="table-dark">
         <tr>
            <td>Username</td>
            <td>Registration date</td>
            <td>Asked questions</td>
            <td>Answers</td>
             <td>Comments</td>
             <td>Reputation</td>
        </tr>
         </thead>
        <tbody>
        {%  for data in user_details %}
             <tr class="warning">
                <td>{{data.user_name}}</td>
                 <td>{{data.registration_date}}</td>
                 <td>{{data.questions_count}}</td>
                 <td>{{data.answers_count}}</td>
                 <td>{{data.comments_count}}</td>
                 <td>{{data.reputation}}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>


{% endblock %}

